/* Kırkpınar */

 
/*
.Kirkpinarcontainer{
    min-height: 100vh;
    width: 100%;
  background: url(Progeimg/kırkpınar.jpg);
    background-position: center;
   background-size:cover ;
   position: relative;
} */

#resim{
  border-radius: 15px 50px 30px;
  padding: 20px; 
  width: 25%;
  height: 50%;
}
#yazi1 {
    border-style:outset ;
    padding: 25px;
    background-repeat: no-repeat;
   
  }

  #resim2{
    border-radius: 15px 50px 30px;
    padding: 20px; 
    width: 25%;
    height: 50%;
  }

  #aciklama {
    margin-top: -50px;
  }